* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.menu {
  display: flex;
  justify-content: right;
  list-style-type: none;
  gap: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem 2rem 0 2rem;
}

h1 {
  font-size: 1rem;
}

li:hover {
  color: orange;
}

.pointer {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}
